# Core dependencies
streamlit==1.45.1
scikit-learn==1.6.1
pandas==2.2.3
numpy==2.2.6
nltk==3.9.1
joblib==1.5.1

# EDA & Visualization
matplotlib==3.10.3
seaborn==0.13.2
wordcloud==1.9.4

# Dataset loading
datasets==3.6.0
kagglehub==0.3.12

# Utility
pathlib==1.0.1
tqdm==4.67.1
python-dateutil==2.9.0.post0
tzdata==2025.2